body {
  /* background-color: #7cc6fe; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background: url(./no-revisions-sBhg2pFvUzs-unsplash.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  
}
  .topic{
  color: rgb(240, 236, 236);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.topic span{
  color: #35394d;
  font-weight: bold;
}
.app {
  background-color: #35394d;
  width: 700px;
  min-height: 350px;
  height: min-content;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.ques-sec{
  position: relative;
  width: 100%;
}
.ques-Txt{
  font-family: sans-serif;
  font-size: 1.1rem;
  margin-top: 10px;
}

.ques-count > span{
  font-size: 28px;
}
.ans-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.actions{
  display: flex;
  margin-top: 15px;
}
button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
.correct {
  background-color: #2f922f;
}
button:hover {
  background-color: #4f5f96;
}